/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background: #364d59;
    color: #333;
}

/* Container styles */
.container {
    max-width: 800px; /* Adjust container width */
    margin: 20vh auto; /* Center horizontally and vertically with 20% spacing from top */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
}


/* Form styles */
h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right: 50%;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

/* File input styles */
input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}

/* Hover effect for file input */
input[type="file"]:hover {
    border-color: #999;
}

/* Focus effect for file input */
input[type="file"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}


button {
    width: 30%;
    padding: 10px;
    background-color: #00a651;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto; /* Center horizontally */
    display: block; /* Ensures button takes up entire width */
}

button:hover {
    background-color: #00c030;
    color: #fff
}

#org-fields {
    display: none;
}

#organization:checked ~ #org-fields {
    display: block;
}

.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.login-link p {
    margin-right: 10px; /* Adjust spacing between text and button */
}

.login-link button {
    width: 18%; /* Fixed width */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    background-color: #167aaf;
    color: #000;
    margin-left: 5px; /* Adjust margin to move the button closer to the paragraph */
}

.login-link button:hover {
    background-color: #00a6ff;
    color: #fff
}

#donorTypeDropdown {
    margin-bottom: 20px; /* Adjust the value as needed */
}

#doctorFields {
    margin-top: 20px; /* Add some top margin for spacing */
}

#doctorFields .form-group {
    margin-bottom: 15px; /* Add some bottom margin for spacing between fields */
}

#doctorFields label {
    font-weight: bold; /* Make labels bold */
}

#doctorFields input[type="text"] {
    width: 100%; /* Make input fields take up full width */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border radius */
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

iframe{
    width: 80%;
    height: 80%;
    margin: 0 auto; /* This will center the iframe horizontally */
    display: block; /* Ensures proper block-level rendering */
}