@import url("../../assets/theme.css");

.ItemTextClass {
    color : var(--text);
    font-size: large;
    font-weight: bold
}

.HeadingClass{
    color : var(--text);
    text-align: center;
}