/* Center the profile picture */

body {
    background-color: #F1FBF3; /* Light green color */
}

.img-fluid {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire space */
    object-position: center; /* Center the image */
}

/* Style user information */
.col-md-8 h2 {
    margin-bottom: 30px;
}

.col-md-8 p {
    margin-bottom: 15px;
    font-size: 18px; /* Increase font size */
}

.col-md-8 strong {
    margin-right: 10px;
    font-weight: bold; /* Make text bold */
}

/* Style bio text box */
.bio-textarea {
    margin-bottom: 30px;
    font-size: 16px; /* Adjust font size */
}

/* Style update button */
.btn.btn-primary {
    display: block;
    margin: 0 auto;
    padding: 5px 20px; /* Adjust padding */
    font-size: 16px; /* Adjust font size */
    background-color: #42CE64; /* Blue color for button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: #00c030;
}

.edit-name-btn {
    font-size: inherit; /* Inherit font size from parent */
    text-align: center; /* Center-align the text */
}

/* Adjust font size of edit name button */
.btn-sm {
    font-size: 8px;
    background-color: #8EE1E0;
    color: black;
}

.btn-sm:hover{
    background-color: #0056b3;
    color: black;
}

/* Style the edit picture button */
.edit-picture-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #8EE1E0;
    color: #black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

/* Change background color on hover */
.edit-picture-button:hover {
    background-color: #0056b3;
}

/* Style profile picture container with black border */
.profile-picture-container {
    display: inline-block; /* Allow the container to fit the content size */
    border: 2px solid #000; /* Black border */
    border-radius: 50%; /* Make it circular */
    padding: 5px; /* Add padding for spacing */
    width: 200px; /* Set the width to match the profile picture */
    height: 200px; /* Set the height to match the profile picture */
    box-sizing: border-box; /* Include border width and padding in the width and height */
}

/* Position Edit Picture Button */
.edit-picture-container {
    text-align: center; /* Center-align the button */
    margin-top: 10px; /* Add space between the profile picture and the button */
}